/* Start Variables */
:root {
    --main-color: #0095ff;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --main-transition: 0.3s;
    --section-background: #ececec;
}

/* End Variables */
/* start selection color */
/* Code for Firefox */
::-moz-selection {
    color: rgb(255, 255, 255);
    background: var(--main-color);
}

::selection {
    color: rgb(255, 255, 255);
    background: var(--main-color);
}

/* end selection color */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: #eeee;
}

ul {
    list-style: none;
}
/* start */

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}



.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}


.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    right: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    right: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    width: calc(100% - 240px);
    right: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    right: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 25px;
    margin-left: 10px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .search-box .fa-magnifying-glass {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

.home-section nav .profile-details {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 20px;
}
.home-section nav .profile-details:hover i{
    color: red;
}
nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    cursor: pointer;
    font-size: 15px;
    color: #333;
    margin: auto;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
}

.home-content .overview-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    column-gap: 25px;
    justify-items: center;
    row-gap: 50px;
    width: 100%;
    padding-bottom: 40px;
}

.overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90% ;
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
}

.home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}

.box .indicator i.down {
    background: #e87d88;
}

.home-content .box .indicator .text {
    font-size: 12px;
}
.home-content .box i {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
}

.home-content .box .fa-users {
    color: #2BD47D;
    background: #C0F2D8;
}
.home-content .box .fa-circle-exclamation {
    background: #700101;
    color: #ff7993;
}

.home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
}
.home-content .sales-boxes .delete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content .sales-boxes .delete:hover{
    color: red;
}
/* left box */
.home-content .sales-boxes .recent-sales {
    width: 100%;
    background: #fff;
    padding: 20px 40px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.sales-boxes .title {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 500;
}

.sales-boxes .sales-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    column-gap: 25px;
    justify-items: center;
    row-gap: 50px;
    width: 100%;
    padding-bottom: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) inset;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sales-boxes .sales-details .text,
.sales-boxes .sales-details .delete{
    padding: 20px 0px;
}
.sales-boxes .sales-details h5{
    font-size: medium;
    padding-bottom: 15px;
}
.sales-boxes .sales-details .text div{
    color: rgb(76, 76, 76); 
}

/* Responsive Media Query */

@media (max-width:992px) {

    .home-section {
    right: 240px; 
    }
    .home-section {
        width: 100%;
    }
    .sidebar.active~.home-section nav {

        width: 100%;
    }
    .home-section nav{
    width: 100%;
    right: 240px;
    }
    .home-section nav:hover{
        left:0 ;
        right: 0;
    }
    .home-section nav .sidebar-button .dashboard{
        display: none;
    }
    .home-section nav .search-box{
        display: none;
    }
    .home-section nav .profile-details{
        display: none;
    }
    .home-section nav .profile-details span{
        display: none;
    }
    nav .profile-details img {
        display: none;

    }
    .sales-boxes .sales-details {
        display: flex;
        flex-direction: column;
    }
}